     <hr>
        <div class="row white" align="center">
        <div class="col s12 m4">
          <h5 class="_14">Payment</h5>
          <ul class="social-icons">
              <li> <img src="images/payment/Payment%20Methods%20Bank%20cards.ico" style="width:40px;"></li>
              <li><img src="images/payment/mastercard-512.png" style="width:40px;"></li>
              <li><img src="images/payment/visa-512.png" style="width:40px;"></li>
              <li><img src="images/payment/cash-on-delivery-icon.png" style="width:100px;"></li>
          </ul>
        </div>
        <div class="col s12 m4">
          <h5 class="_14">Contact Us</h5>
          <ul>
              <li><b style="color:#26a69a;">Email id:</b> info@royalbooks.com</li>
              <li><b style="color:#26a69a">Phone No. : </b>+91 8984774809, +91 9040447093</li>
          </ul>
        </div>
        <div class="col s12 m4">
          <div>
          <h5 class="_14">Follow us</h5>
          <ul class="social-icons">
              <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
              <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
          </ul>
          </div>
        </div>
    </div>
    
    
    
  <footer>
    <div class="footer-copyright blue-grey darken-3 white-text" style="height:50px;padding:15px;">
      <div class="container" align="center">
      Made by <a class="brown-text text-lighten-3" href="http://appstone.in">AppStone</a>
      </div>
    </div>
  </footer>

  <!-- <td><a href='deleteitem.php?userid=".$_SESSION['id']."&productid=".$row['productid']."' class='waves-effect blue darken-3 btn type='submit'>Delete Item</a></td>
  <td><a href='deleteitem.php?userid=<?php echo $_SESSION['id']; ?>&productid=<?php echo $row['productid']; ?>' class='btnRemoveAction'> -->

<!-- 
<?php
ob_start();
session_start();
require('dbconnect.php');

// $productid = $_GET['productid'];

require('connection.php');

// $query = "DELETE FROM cart WHERE id='".$_SESSION['id']."' AND ITEM='".$_GET['productid']."' AND qty=".$_GET['qty'].";";
$query = "delete from products where userid='".$_SESSION['id']."' and productid='".$_GET['productid']."'";
echo $query;
if ($conn->query($query) === TRUE) {
	//echo "New product created successfully";
} else {
	echo "Error: " . $sql . "<br>" . $conn->error;
}
header('Location:confirm.php');

?> -->