*{
   
   
}

@font-face {
    
    
}

#nav{
    height: 65px;
   padding: 0px;
    
    }
.nav{
    font-size: 1.5em;
     padding: 12px;
}
.navbar-brand img{
    height: 60px;
    padding: 2%;
}
.navbar{
    background-image: none;
    background-color: white !important;
    border-bottom: 1px solid #ddd !important;
}

.dropdown-menu{
    padding: 10%;
}

#body{
    background-color: lightgoldenrodyellow;
}